* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}

/*右边登陆框开始*/
.gcs-login {
    box-sizing: border-box;
    width: 60%;
    height: 70%;
    background-color: #E6E6E6;
    z-index: 100;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gcs-login .gcs-login-panel {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.gcs-login-container table {
    margin:auto;
    width: 85%;
}

.gcs-login-container table tr{
    width: 100%;
    height: 60px;
}

.gcs-login-container table tr td{
    text-align: left;
    width: 192px;
}


.gcs-login .login-title {
    text-align: center;
    color: #62a8ea;
    margin: 20px;
}

.gcs-login .login-title h2 {

    letter-spacing: 10px;

}

.gcs-login-container {
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
}

input[type="date" i], input[type="datetime-local" i], input[type="month" i], input[type="time" i], input[type="week" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 3%;
}

.gcs-login .data-input {
    border: 1px solid white;
    display: inline-block;
    box-sizing: border-box;
    width: 85%;
    height: 35px;
    padding-left: 10px;
    margin: 0 auto;
    font-size: 14px;
    outline: none;
    color: #76838f;
}


.gcs-login .data-input:focus {
    outline: none;
    border: 1px solid #62a8ea;
}

.gcs-login .text-input {
    border: 1px solid white;
    display: inline-block;
    box-sizing: border-box;
    width: 95%;
    height: 35px;
    padding-left: 10px;
    margin: 0 auto;
    font-size: 14px;
    outline: none;
    color: #76838f;
}

.gcs-login .text-input:focus {
    outline: none;
    border: 1px solid #62a8ea;
}

.gcs-login .btn-login {
    background-color: #62a8ea;
    border: none;
    width: 120px;
    height: 45px;
    line-height: 45px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.gcs-login .btn-login:hover {
    opacity: 0.9;
}

.easyui-datebox {
    width: 150px;
}
